:root {
  --mid-blue: rgb(71, 124, 142);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --light: #E7ECEF;
  --dark: #272932;
  --red-purple: #C21460;
  --green-blue: #347C98;

  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--dark);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1% 6% 0 6%;
}

.search-form{
  flex-basis: 50%;
  padding: 0.5%;
  margin: 0;
}

@media (min-width: 768px) {
  .search-form {
    flex-basis: 78%;
  } 
}

.search-form__icon{
  font-size: 1.4rem;
  margin: 0;
}

.search-form__input{
  background-color: var(--white);
  border: var(--dark) solid 1px;
  z-index: 1000;
}

@media (min-width: 768px) {
  .search-form__input {
    flex-basis: 78%;
    padding: 0.5rem;
    font-size: 1.2rem;
  } 
}

.logo {
  width:50%;
  margin: 1% 0;
}

@media (min-width: 768px) { 
  .logo {
    width:30%;
  }
}

@media (min-width: 992px) {
  .logo {
    width:15%;
  }
}

.navbar {
  position: sticky;
  margin: 0;
  padding: 0;
  z-index: 1000;
  max-height: fit-content;
  width: 10%; 
}

@media (min-width: 768px) {
  .navbar {
    flex-wrap: unset;
    width:100%;
    display: flex;
  }
}

@media (min-width: 992px) {
  .navbar {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .navbar {
    width: 60%;
  }
}

.navbar--style {
  background-color: transparent;
}

.navbar__list {
  list-style: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 3%;
  display: none;
  width: 100%;
  margin: 0;
  line-height: 3rem;
}

.navbar__list--style {
  background-color: var(--mid-blue);
}

@media (min-width: 768px) {
  .navbar__list {
    padding: 0;
    flex-direction: row;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .navbar__list--style {
    background-color: transparent;
  }
}

@media (prefers-color-scheme: dark) {
  html[data-theme=auto] .navbar__list--style {
    color: var(--white);
  }
}
html[data-theme=dark] .navbar__list--style {
  color: var(--white);
}

.navbar__item {
  margin: 0;
  padding: 0;
}
.navbar__anchor {
  text-decoration: none;
  font-size: 2rem;
  word-break: keep-all;
  cursor: pointer;
}

.navbar__anchor--style {
  color: var(--light);
}

.navbar__anchor--style:hover {
  color: var(--dark);
}

@media (min-width: 768px) {
  .navbar__anchor {
    font-size: 1.2rem;
  }
  .navbar__anchor--style {
    color: var(--dark);
  }
  .navbar__anchor--style:hover {
    color: var(--red-purple);
  }
}

.navbar__element {
  margin: 0 1%;
  padding: 0;
  font-size: 3.5rem;
  cursor: pointer;
  line-height: 3.5rem;
}

@media (min-width: 768px) {
  .navbar__element {
    width: 100%;
    position: sticky;
  }
}
.navbar__element--burger {
  color: var(--mid-blue);
  margin-right: 2%;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .navbar__element--burger {
    display: none;
  }
}
.navbar__element--cross {
  color: var(--dark);
  display: block;
  position: fixed;
  top: 1%;
  z-index: 2000;
  margin-right: 2%;
  font-size: 3rem;
  display: none;
}

@media (min-width: 768px) {
  .navbar__element--cross {
    display: none;
  }
}

.navbar__element:hover .navbar__list {
  display: flex;
}

.navbar__element:hover .navbar__element--cross {
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero {
  background-image: url("background-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  flex-basis: 100%;
  background-position: center;
  margin: 0;
  padding: 2% 6%;
  text-align: center;
}

@media (min-width: 768px) {
  .hero {
    text-align: left;
  }
}

.hero__heading {
  background-color: var(--mid-blue);
  color: var(--white);
  font-size: 3rem;
  font-weight: 600;
  margin: 3% 0;
  padding: 1% 2%;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .hero__heading {
    width:fit-content;
  }
}

.hero__text {
  color: var(--mid-blue);
  background-color: var(--white);
  font-size: 1.4rem;
  font-weight: 600;
  margin: 2% 0;
  padding: 1% 2%;
  width: 100%;
}

@media (min-width: 768px) {
  .hero__text {
    width: 50%;
  }
}

.hero__button {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
  margin: 0 0 3% 0;
  padding: 1.5%;
  background-color: var(--white);
  border: var(--white) solid 1px;
  border-radius: 80px;
  color: var(--red-purple);
  cursor: pointer;
}

.hero__button:hover {
  background-color: var(--red-purple);
  color: var(--white);
  border-color: var(--red-purple);
}

@media (min-width: 768px) {
  .hero__button {
    padding: 1%;
  }
}

.headline-box {
  min-height: 30vh;
  flex-basis: 100%;
  background-position: center;
  margin: 0;
  padding: 2% 6%;
  text-align: center;
}

@media (min-width: 768px) {
  .headline-box {
    text-align: left;
  }
}

.headline-box--image {
  background-image: url("background-3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.headline-box--blue {
  background-color: var(--mid-blue);
  color: var(--white);
}

@media (min-width: 768px) {
  .headline-box {
    flex-basis: 50%;
  }
}

.headline-box__heading {
  margin: 3% 0 2% 0;
  padding: 0;
  width:fit-content;
}

.headline-box__text {
  margin: 1% 0;
  padding: 0;
}

.headline-box__button {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
  margin: 1% 0 3% 0;
  padding: 1.5%;
  background-color: transparent;
  border: var(--white) solid 2px;
  border-radius: 80px;
  color: var(--white);
  cursor: pointer;
}

.headline-box__button:hover {
  background-color: var(--white);
  color: var(--mid-blue);
}

.help-box {
  padding: 2% 6%;
  flex-basis: 100%;
  background-color: var(--light);
  color: var(--dark);
}

.help-box__heading {
  margin: 0.5% 0;
  padding: 0;
  width:fit-content;
  font-size: 1.6rem;
}

.help-box__text {
  margin: 1% 0;
  padding: 0;
  font-size: 1.1rem;
}

.help-box__form {
  background-color: var(--white);
  padding: 1%;
  margin: 1% 0;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

@media (min-width: 768px) {
  .help-box__form {
    flex-direction: row;
  }
}

.help-box__label {
  background-color: var(--white);
  padding: 0.2%;
  margin: 0.2%;
}

.help-box__select {
  background-color: var(--white);
  color: var(--mid-blue);
  padding: 0.2%;
  margin: 0.2%;
  width: auto;
  font-size: 1.2rem;
}

.help-box__button {
  margin: 2% 1%;
  padding: 2%;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
}

.help-box__button--red {
  background-color: var(--red-purple);
  color: var(--white);
  border: var(--white) solid 1px;
}

.help-box__button--red:hover {
  background-color: var(--white);
  color: var(--red-purple);
  border: var(--red-purple) solid 1px;
}

@media (min-width: 768px) {
  .help-box__button  {
    margin: 0.2%;
    padding: 0.6%;
    font-size: 1rem;
  }
}

.about-us {
  background-color: var(--mid-blue);
  color: var(--white);
  padding: 2% 6%;
  display: flex;
  flex-direction: column;
}

.about-us__heading {
  margin: 0.5% 0;
  padding: 0;
  width:fit-content;
  font-size: 1.6rem;
}

.about-us__text {
  margin: 1% 0;
  padding: 0;
  text-align: center;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .about-us__text {
    text-align: left;
  }
}

.about-us__container {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: stretch;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .about-us__container {
    gap: 1%;
  }
}

@media (min-width: 992px) {
  .about-us__container {
    justify-content: space-between;
  }
}

.about-us__card {
  background-color: var(--white);
  flex-basis: 60%;
  margin: 1% 0;
  padding: 2%;
  color: var(--dark);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .about-us__card {
    flex-direction: row;
    flex-basis: 45%;
  }
}

@media (min-width: 992px) {
  .about-us__card {
    flex-basis: 23%;
  }
}

.about-us__button {
  margin: 8% 4% 3% 4%;
  padding: 4%;
  border-radius: 80px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
}

.about-us__button--red {
  color: var(--red-purple);
  background-color: var(--white);
  border: var(--dark) solid 1px;
}

.about-us__button:hover {
  background-color: var(--red-purple);
  color: var(--white);
}

.about-us__button--borderless {
  border: none;
  padding: 3%;
  align-self: center;
  margin: 2% 1% 1% 1%;
}

@media (min-width: 768px) {
  .about-us__button--borderless {
    border: none;
    padding: 1%;
  }
}

.mode-button {
  flex-basis: 22%;
  padding: 0.5%;
  margin: 1% 1% 0 0;
  width: fit-content;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
}

.mode-button--white {
  background-color: var(--white);
  color: var(--red-purple);
  border: var(--dark) solid 1px;
}

.mode-button--red:hover {
  background-color: var(--mid-blue);
  color: var(--white);
  border: var(--mid-blue) solid 1px;
}

.mode-button--red {
  background-color: var(--red-purple);
  color: var(--white);
  border: var(--red-purple) solid 1px;
}

.mode-button--white:hover {
  background-color: var(--white);
  color: var(--mid-blue);
  border: var(--dark) solid 1px;
}

@media (min-width: 768px) {
  .mode-button {
    flex-basis: 10%;
    margin: 0.5% 0.5% 0 0;
    font-size: 1.1rem;
  } 
}





